@use "../../style/mixin" as mixin;
@use "../../style/variables" as vars;

.mainLayout {
  @include mixin.background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
  }
}