@use "../../style/variables" as vars;
@use "../../style/mixin" as mixin;


.welcomePage {
  @include mixin.background;
 
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card {
    @include mixin.component;

    input {
      @include mixin.input;
    }

    button {
      @include mixin.button;
    }
  }
}