@use "./variables" as vars;

@mixin component($width: 100%) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: vars.$gap;
  max-width: 100%;
  width: $width;
  border-radius: vars.$component-border-radius;
  color: var(--text-color-component);
  padding: 2.5rem;

  background: var(--bg-component);
  box-shadow: 
    0 10px 30px rgba(vars.$black, 0.15),
    0 0 0 1px rgba(vars.$purple, 0.1);
  backdrop-filter: blur(8px);
}

@mixin input {
  width: 100%;
  padding: vars.$element-padding;
  border: vars.$border;
  border-radius: vars.$element-border-radius;
  font-size: vars.$font-size-s;
  box-sizing: border-box;
  background: vars.$white;
  transition: vars.$transition;

  &:focus {
    border-color: vars.$purple;
  }

  &::placeholder {
    font-size: vars.$font-size-xs;
  }
}

@mixin button{
  padding: vars.$element-padding;
  background-color: vars.$purple;
  color: vars.$white;
  border: none;
  border-radius: vars.$element-border-radius;
  font-size: vars.$font-size-xs;
  font-weight: 600;
  cursor: pointer;
  transition: vars.$transition;

  &:hover {
    background-color: vars.$element-hover-color;
  }
}

@mixin icon-button {
  cursor: pointer;
  transition: vars.$transition;
  background-color: vars.$purple;
  height: 100%;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: vars.$element-padding;
  border-radius: vars.$element-border-radius;
  
  &:hover {
    background-color: vars.$element-hover-color;
  }
    
  img {
    width: vars.$icon-size;
    height: auto;
  }
}

@mixin icon {
  padding: vars.$icon-padding;
  border-radius: vars.$element-border-radius;
  
  img {
    width: vars.$icon-size;
    height: auto;
  }
}