@use "../../style/variables" as vars;
@use "../../style/mixin" as mixin;

.footer {
  font-size: vars.$font-size-xs;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: vars.$gap;
    max-width: 100%;
    text-align: center;
    padding: 0.5rem;

    .links {
      display: flex;
      gap: vars.$gap;
    }
  }
}